
run = "cd my-app && npm run dev"
modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[deployment]
build = "cd my-app && npm run build"
run = "cd my-app && npm start"
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80
